/*New css */
/**********************************************
*** General page
**********************************************/
/* This removes the blue outline for text boxes*/

* {
	font-family: 'lato', sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: auto;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.invert {
	filter: invert(100%);
}

body {
	background-size: cover;
	background-position: center;
	font-family: Lato;
	font-weight: 300;
	position: relative;
	height: 100vh;
	color: #555;
	background: linear-gradient(0deg, #7250bc7a, rgba(88, 221, 245, 0.952));
	margin: 0 auto;
}

nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 40%;
	flex: 0 1 40%;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.wrapper {
	width: 1000px;
	height: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

header {
	border-bottom: 1px solid #466995;
}

ul {
	margin: 30px auto;
	padding: 0 20px;
	text-align: center;
}

li {
	color: #fff;
	font-family: 'lato', sans-serif;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
}

li:hover {
	color: #dbe9ee;
}

h1 {
	color: #466995;
	font-size: 32px;
	font-weight: 300;
	text-transform: uppercase;
}

h2 {
	color: #333;
	font-size: 26px;
	font-weight: 100;
	margin: 0 auto 20px auto;
}

h3 {
	position: absolute;
	color: #466995;
	font-size: 18px;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	padding: 30px;
}

h4 {
	color: #466995;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
}

p {
	color: #333;
	font-size: 18px;
}

footer {
	text-align: center;
}

img {
	width: 100%;
	height: 600px;
	object-fit: cover;
}

form {
	position: relative;
	display: inline;
	/* display: table-cell; */
}

.question {
	/* height: 400px; */
	top: 50px;
	position: absolute;
	/* margin: auto; */
	display: inline;
}

.answer {
	top: 200px;
	position: absolute;
	margin: auto;
	display: inline-flex;
}

/*
	position: absolute;
	display: table-cell;
	vertical-align: middle;

position: absolute;
	margin: auto;
}
/*
h3:hover {
	transform: translateX(-1%);
	font-weight: 600;
	margin-right: 20px;
	outline: none;
}
*/

.hidden {
	/* Use this to toggle the questions*/
	visibility: hidden;
}
